/*Input*/
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inputTitle {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
/*------------------------------------------------------*/

/* Add Button */
.addButton {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  background-color: rgb(243, 233, 222);
  color: rgb(0, 0, 0);
  width: 65px;
  border: 2px solid rgba(213, 59, 98, 0.6);
  border-radius: 12px;
  padding: 8px;
  margin: 10px 5px;
  text-align: center;
  font-size: 1rem;
  transition-duration: 0.3s;
}

.addButton:hover {
  background-color: rgb(230, 164, 180);
  border-color: rgb(230, 164, 180);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

/*------------------------------------------------------*/

/*Sort Button */
.toggleButton {
  font-weight: bolder;
  background-color: rgb(243, 233, 222);
  color: rgb(0, 0, 0);
  width: 45px;
  border: 2px solid rgba(213, 59, 98, 0.6);
  border-radius: 12px;
  padding: 5px;
  margin: 3px;
  text-align: center;
  font-size: 1rem;
  transition-duration: 0.3s;
}
.toggleButton:hover {
  background-color: rgb(230, 164, 180);
  border-color: rgb(230, 164, 180);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
