/*Background & Background color*/
.appContainer {
  background-color: rgb(245, 238, 230);
  min-height: 100vh;
}
/*------------------------------------------------------*/

/*Title*/
.titleChange {
  font-size: 4rem;
  color: rgb(0, 0, 0);
  font-family: "Nanum Pen Script", cursive;
  margin: 2rem;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*------------------------------------------------------*/
/*Loading*/
.loading {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

/*------------------------------------------------------*/

/*Input*/
.inputContainer {
  text-align: center;
}
.inputTitle {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
/*------------------------------------------------------*/

/*Task List & Container*/
.taskList {
  list-style: none;
  padding: 0;
}

.taskListContainer {
  background-color: rgb(243, 215, 202);
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 1rem;
  border: 4px solid rgb(230, 164, 180);
  border-radius: 20px;
}

.listItem {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  margin: 10px 0;
  border: 2px solid rgba(213, 59, 98, 0.6);
  padding: 1rem;
  border-radius: 20px;
}
/*------------------------------------------------------*/

/* Checkbox */
.checked {
  text-decoration: line-through;
}

.checkboxAndList {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 1rem;
}
/*------------------------------------------------------*/

/*Buttons*/
.addButton,
.removeButton,
.editButton,
.saveButton {
  font-weight: bolder;
  background-color: rgb(243, 233, 222);
  color: rgb(0, 0, 0);
  width: 45px;
  border: 2px solid rgba(213, 59, 98, 0.6);
  border-radius: 12px;
  padding: 8px;
  margin: 10px 5px;
  text-align: center;
  font-size: 1rem;
  transition-duration: 0.3s;
}

.addButton {
  font-family: "Playfair Display", serif;
  width: 65px;
}

.removeButton,
.editButton {
  font-size: 0.5rem;
}

.editButton {
  margin-left: auto;
}

.saveButton {
  font-size: 0.5rem;
}

.addButton:hover,
.removeButton:hover,
.editButton:hover,
.saveButton:hover {
  background-color: rgb(230, 164, 180);
  border-color: rgb(230, 164, 180);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
/*------------------------------------------------------*/

/*Icon*/
.svgIcon {
  display: inline-block;
  margin: 10px;
  padding: 5px 5px;
  color: rgb(221, 72, 110);
  vertical-align: middle;
}
/*------------------------------------------------------*/

/*Header & Header Text*/
.header {
  color: white;
}

.headerText {
  color: black;
  display: inline-block;
  font-weight: bolder;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  vertical-align: middle;
}

/*------------------------------------------------------*/

/*Media Queries*/

/* Tablet */
@media only screen and (min-width: 600px) {
  .taskListContainer {
    width: 75%;
  }
  .listItem {
    font-size: 2rem;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
  .taskListContainer {
    width: 35%;
  }
  .listItem {
    font-size: 1.7rem;
  }
}

/* Desktops */
@media only screen and (min-width: 1200px) {
  .taskListContainer {
    width: 40%;
  }
  .listItem {
    font-size: 1.7rem;
  }
}
