/*Task List */

.listItem {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  margin: 10px 0;
  border: 2px solid rgba(213, 59, 98, 0.6);
  padding: 1rem;
  border-radius: 20px;
}

/*------------------------------------------------------*/

/* Checkbox */
.checked {
  text-decoration: line-through;
}

.checkboxAndList {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 1rem;
}
/*------------------------------------------------------*/

/*Buttons*/
.removeButton,
.editButton,
.saveButton {
  font-weight: bolder;
  background-color: rgb(243, 233, 222);
  color: rgb(0, 0, 0);
  width: 45px;
  border: 2px solid rgba(213, 59, 98, 0.6);
  border-radius: 12px;
  padding: 8px;
  margin: 10px 5px;
  text-align: center;
  font-size: 1rem;
  transition-duration: 0.3s;
}

.removeButton,
.editButton {
  font-size: 0.5rem;
}

.editButton {
  margin-left: auto;
}

.saveButton {
  font-size: 0.5rem;
}

.removeButton:hover,
.editButton:hover,
.saveButton:hover {
  background-color: rgb(230, 164, 180);
  border-color: rgb(230, 164, 180);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
/*------------------------------------------------------*/

/*Media Queries*/

/* Tablet */
@media only screen and (min-width: 600px) {
  .listItem {
    font-size: 2rem;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
  .listItem {
    font-size: 1.7rem;
  }
}

/* Desktops */
@media only screen and (min-width: 1200px) {
  .listItem {
    font-size: 1.7rem;
  }
}
